{{ 'international-contact-us.css' | asset_url | stylesheet_tag }}
{{ 'international-responsive.css' | asset_url | stylesheet_tag }}

<div class="contact-us-text-section">
  <div class="contactus-inner">
    <p class="contact-us-heading">{{ section.settings.heading | default: "Join us at Global Level by Becoming a Distributor" }}</p>
    <hr>
    <p>{{ section.settings.description | default: "Contact us today to find out how, together, we can provide high-quality nutritional products to consumers worldwide and help people live healthier lives." }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Contact Us Text Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Join us at Global Level by Becoming a Distributor"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Contact us today to find out how, together, we can provide high-quality nutritional products to consumers worldwide and help people live healthier lives."
    }
  ],
  "presets": [
    {
      "name": "Contact Us Text Section",
      "category": "International Section"
    }
  ]
}
{% endschema %}