{{ 'partner-section.css' | asset_url | stylesheet_tag }}
<div class="partner-section"  style="background-image:url({% if section.settings.banner_bg_image %}{{ section.settings.banner_bg_image | img_url: 'master' }}"{% endif %});">
  <div class="container">

    <!-- Heading -->
    <div class="partner-heading">
      <p>{{ section.settings.heading }}</p>
    </div>

    <!-- Logo Images -->
    <div class="partner-logos">
      {% for block in section.blocks %}
        {% if block.settings.logo_image %}
          <img src="{{ block.settings.logo_image | img_url: 'master' }}" alt="Partner Logo">
        {% endif %}
      {% endfor %}
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Partner / Science Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "We are Backed by Science"
    },
    {
      "type": "image_picker",
      "id": "banner_bg_image",
      "label": "Section BG"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Partner Section",
      "category": "Homepage",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}