@media (max-width: 426px) {
  .video-headings h1 {
    font-size: 32px;
  }

  .video-headings h2 {
    font-size: 20px;
  }

  #about-us-video {
    width: 95%;
    height: auto;
    display: block;
    border-radius: 15px;
  }

  .grid-banner-main .grid-main-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }

  .grid-banner-main .grid-main-inner .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

  .grid-banner-text {
    width: 95%;
    order: 1;
    padding-top: 30px;
  }

  .grid-banner-text .banner-heading {
    font-size: 20px;
    text-align: center;
  }

  .grid-banner-text hr {
    align-self: center;
  }

  .grid-banner-text p {
    font-size: 15px;
    text-align: center;
  }

  .grid-banner-imgs {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 95%;
    gap: 3px;
  }

  .grid-banner-imgs img {
    width: 100%;
    height: 140px;
    object-fit: cover;
  }

  .medicine-section .medicine-inner {
    width: 100%;
  }

  .medicine-text {
    width: 95%;
    text-align: center;
  }

  .medicine-text .med-heading {
    font-size: 20px;
  }

  .medicine-text p {
    font-size: 15px;
  }

  .medicine-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .medicine-image img {
    display: block;
    width: 95%;
    transition: transform 0.1s ease;
  }

  .graph-section .graph-inner {
    width: 100%;
  }

  .graph-text {
    width: 100%;
    text-align: center;
  }

  .graph {
    display: none;
  }

  .phone-graph {
    display: flex;
  }

  .carousel {
    position: relative;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .carousel-slide {
    display: none;
    text-align: center;
  }

  .carousel-slide.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .carousel-slide img {
    width: 100px;
    height: 100px;
    display: block;
    border: 1px solid #000;
    border-radius: 100%;
    padding: 25px;
  }

  .carousel-caption {
    margin-top: 10px;
    font-size: 14px;
    padding: 0 15px;
    color: #333;
  }

  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: translateY(-100%);
    background-color: transparent;
    color: #000;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    user-select: none;
    transition: background 0.3s;
    width: 12%;
  }

  .carousel-btn:hover {
    background-color: transparent;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }
  
  
  .grid-banner-section-2 .grid-section2-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .grid-content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }

  .grid-text-section {
    order: 2;
  }

  .grid-text {
    background-color: #f5f2f2;
  }

  .grid-text-section {
    width: 95%;
  }

  .grid-text .grid-text-heading {
    width: 100%;
    text-align: center;
  }

  .grid-text p {
    width: 100%;
    line-height: 1.3;
    text-align: center;
  }

  .grid-banner-section-2 .grid-banner-imgs {
    order: 1;
  }


  .head-office-text p {
    width: 95%;
  }

  .office-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .about-links .links-inner {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-btns {
    width: 100%;
    flex-direction: column;
  }

  .link-btn {
    width: 60%;
  }

  .link-btn2 {
    width: 40%;
  }

  .grid-banner-section-2{
    padding-left: 15px;
    padding-right: 15px;
  }

  .grid-heading p{
    text-align: center;
  }

}


@media (min-width: 768px) and (max-width: 1023px) {
 .video-headings h1 {
    font-size: 32px;
  }

  .video-headings h2 {
    font-size: 20px;
  }

  #about-us-video {
    width: 95%;
    height: auto;
    display: block;
    border-radius: 15px;
  }

  .grid-banner-main .grid-main-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }

   .grid-banner-main .grid-main-inner .wrapper {
  display: flex;
  flex-direction: column;
  width: 97%;
     align-items: center;
}

  .grid-banner-text {
    width: 95%;
    order: 1;
  }

  .grid-banner-text .banner-heading {
    font-size: 20px;
    text-align: center;
  }

  .grid-banner-text hr {
    align-self: center;
  }

  .grid-banner-text p {
    font-size: 15px;
    text-align: center;
  }

  .grid-banner-imgs {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 95%;
    gap: 10px;
  }

  .grid-banner-imgs img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .medicine-section .medicine-inner {
    width: 100%;
  }

  .medicine-text {
    width: 95%;
    text-align: center;
  }

  .medicine-text .med-heading {
    font-size: 20px;
  }

  .medicine-text p {
    font-size: 15px;
  }

  .medicine-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .medicine-image img {
    display: block;
    width: 95%;
    transition: transform 0.1s ease;
  }

  .graph-section .graph-inner {
    width: 100%;
  }

  .graph-text {
    width: 100%;
    text-align: center;
  }

  .graph {
    display: none;
  }

 .carousel {
    position: relative;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .carousel-slide {
    display: none;
    text-align: center;
  }

  .carousel-slide.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .carousel-slide img {
    width: 40%;
    height: auto;
    display: block;
  }

  .carousel-caption {
    margin-top: 10px;
    font-size: 16px;
    padding: 0 15px;
    color: #333;
  }

  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    user-select: none;
    transition: background 0.3s;
    width: 12%;
  }

  .carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }
  
  
  .grid-banner-section-2 .grid-section2-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .grid-content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }

  .grid-text-section {
    order: 2;
  }

  .grid-text {
    background-color: #f5f2f2;
  }

  .grid-text-section {
    width: 95%;
  }

  .grid-text .grid-text-heading {
    width: 100%;
    text-align: center;
  }

  .grid-text p {
    width: 100%;
    line-height: 1.3;
    text-align: center;
  }

  .grid-banner-section-2 .grid-banner-imgs {
    order: 1;
  }


  .head-office-text p {
    width: 95%;
  }

  .head-office-text div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }


  .about-links .links-inner {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-btns {
    width: 95%;
    gap: 5px;
  }

  .link-btn {
    width: 60%;
  }

  .link-btn2 {
    width: 40%;
  }

}


@media (min-width: 1024px) and (max-width: 1380px) {
   .grid-banner-main{
  display: flex;
  flex-direction: column;
  width: 100%;
}
  
   .grid-banner-main .grid-main-inner {
  display: flex;
  flex-direction: column;
  width: 95%;
}

   .grid-banner-main .grid-main-inner .wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid-banner-text {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  align-items: center;
}

.grid-banner-imgs {
  width: 100%;
}

.graph {
  width: 100%;
}



.grid-banner-section-2 .grid-section2-inner .wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid-content-section {
  display: flex;
  flex-direction: column-reverse;
  gap: 15px
}

.grid-text-section {
  width: 100%;
}

.grid-text {
  width: 100%;
}

.grid-text .grid-text-heading {
  width: 90%;
  font-size: 20px;
}

.grid-text p {
  width: 90%;
  font-size: 18px;
}

.medicine-section .medicine-text {
  max-width: 1380px;
  width: 95%;
}

.head-office-text {
  width: 95%;
}

.link-btn {
  max-width: 320px;
  width: 100%;
}
}