.about-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 15px;
}

.about-links .links-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.links-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0px;
  margin: 0px;
}

.links-text hr {
  width: 150px;
  height: 3px;
  margin: 15px 0px;
  background-color: #AACC00;
  border-radius: 10px;
  padding: 0px;
  margin: 0px;
}

.links-text .links-heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px;
  margin: 0px;
}

.links-text p {
  font-size: 14px;
  line-height: 1;
}

.about-btns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 340px;
  width: 100%;
  height: 43.6px;
  border-radius: 10px;
  background-color: #AACC00;
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.3s ease;
}

.link-btn:hover {
  background-color: white;
  border: #AACC00 1px solid;
  color: black;
}

.link-btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 197.11px;
  height: 43.6px;
  border: #4e327c 1px solid;
  border-radius: 10px;
  text-decoration: none;
  color: #54327c;
  font-size: 14px;
  gap: 5px;
  transition: 0.3s ease;
}

.link-btn2:hover {
  background-color: #f0ebff;
  border: white 1px solid;
}

@media (max-width: 426px) {
  .link-btn{
    height: auto;
    padding: 10px;
  }
}