.grid-banner-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.grid-banner-main .grid-main-inner {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0px;
  justify-content: space-between;
}

.grid-banner-section-2 .grid-section2-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.grid-banner-imgs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 575px;
  gap: 15px;
}

.grid-banner-imgs img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.grid-banner-imgs img:nth-child(1) {
  grid-column: span 8;
  border-radius: 15px;
}

.grid-banner-imgs img:nth-child(2) {
  grid-column: span 4;
  border-radius: 15px;
}

.grid-banner-imgs img:nth-child(3) {
  grid-column: span 4;
  border-radius: 15px;
}

.grid-banner-imgs img:nth-child(4) {
  grid-column: span 8;
  border-radius: 15px;
}

.grid-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 575px;
}

.grid-banner-text hr {
    width: 150px;
  height: 3px;
  margin: 15px 0px;
  background-color: #4e327c;
  border-radius: 10px;
}

.grid-banner-text .banner-heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 2px;
  padding: 0px;
  margin: 0px;
}

.grid-banner-text p {
  font-size: 16px;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
}

.grid-banner-section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.grid-banner-section-2 .grid-section2-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.grid-banner-section-2 .grid-section2-inner .wrapper {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.grid-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 20px;
}

.grid-heading hr {
  width: 150px;
  height: 3px;
  margin: 15px 0px;
  background-color: #4e327c;
  border-radius: 10px;
}

.grid-heading p {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 2px;
}

.grid-content-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.grid-text-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 575px;
}

.grid-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 25px;
  background-color: #fafafa;
  border-radius: 15px;
}

.grid-text .grid-text-heading {
  font-size: 18px;
  font-weight: bold;
  margin: 0px 0px 8px;
  width: 525px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.grid-text p {
  font-size: 14px;
  line-height: 1.5;
  width: 525px;
  text-align: justify;
}


