.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    width: 100%;
    background-color: transparent;
}

.faq .inner-faq-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    background-color: transparent;
}

.faq-number {
    display: flex;
    padding: 50px 20px;
}

.faq-number p {
    font-size: 30px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.left-section {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 420px;
    font-size: 40px;
    font-weight: bold;
}

.accordion-box span::after {
    content: "";
    width: 15px;
    height: 15px;
    background: url(https://cdn.shopify.com/s/files/1/0707/8104/2880/files/right-arrow-svgrepo-com.png?v=1758103998);
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
}

.accordion-box.active span::after {
    transform: rotate(90deg);
}

.accordion-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 675px;
}

.accordion-box {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    gap: 15px;
    border-bottom: 1px solid #cccccc;
}

.accordion-box span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    transition: 0.3s;
    position: relative;
    padding-right: 50px;
}

.accordion-box answer-text {
    display: block;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    line-height: 1.5;
}

.accordion-box.active answer-text {
    max-height: 1000px;
}

.accordion-box.active span {
    color: #AACC00;
}

.accordion-box answer-text ul {
    list-style: disc;
    padding-left: 20px;
    margin: 0;
}

.accordion-box answer-text ol {
    list-style: decimal;
    padding-left: 20px;
    margin-bottom: 15px;
}

.accordion-box answer-text li {
    margin-bottom: 15px;
}

@media (min-width: 1024px) and (max-width: 1400px) {
     .faq .inner-faq-wrap {
        width: 100%;
    max-width: 1400px;
    flex-direction: column;
 }

 .accordion-section {
    width: 100%;
 }
 .faq-number {
    display: flex;
    padding: 50px 20px;
}

.faq-number p {
    font-size: 30px;
}
}



@media (max-width: 1023px) {
 .faq .inner-faq-wrap {
    max-width: 1023px;
    width: 100%;
    flex-direction: column;
 }

 .accordion-section {
    width: 100%;
 }

 .left-section {
    font-size: 26px;
    text-align: center;
 }

 .accordion-box {
    width: 90%;
 }

.accordion-box span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    transition: 0.3s;
    width: 100%;
    padding-right: 5px;
    position: relative;
}
}

@media (min-width: 800px) and (max-width: 1023px) {
    .faq-number {
        display: flex;
        padding: 35px 15px;
    }

    .faq-number p {
        font-size: 26px;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .faq-number {
        display: flex;
        padding: 25px 10px 25px 35px;
    }

    .faq-number p {
        font-size: 22px;
    }
}

@media (min-width: 320px) and (max-width: 599px) {
    .faq-number {
        display: flex;
        padding: 20px 13px;
        text-align: center;
    }

    .faq-number p {
        font-size: 18px;
    }
}