.faq {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0
}

.faq .page-width {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: red;
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 420px;
    font-size: 40px;
    font-weight: bold;
    margin: 0px 137.5px;
}



.accordion-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 675px;
}

.accordion-box {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    gap: 15px;
    border-bottom: 1px solid #cccccc;
}

.accordion-box span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    transition: 0.3s;
    width: 675px;
}

.accordion-box strong {
    display: block;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    line-height: 1.5;
}

.accordion-box.active span {
    color: #b497ed;
}

.accordion-box strong ul {
    list-style: disc;
    padding-left: 20px;
    margin: 0;
}

.accordion-box strong ol {
    list-style: decimal;
    padding-left: 20px;
    margin-bottom: 15px;
}

.accordion-box strong li {
    margin-bottom: 15px;
}

.accordion-box span i {
    transition: transform 0.3s ease;
}

.accordion-box.active span i {
    transform: rotate(90deg);
}


@media (min-width: 1024px) and (max-width: 1400px) {
     .faq .container {
    max-width: 1400px;
    flex-direction: column;
 }

 .accordion-section {
    width: 100%;
 }



 
}



@media (max-width: 426px) {
 .faq .container {
    max-width: 426px;
    flex-direction: column;
 }

 .accordion-section {
    width: 100%;
 }

 .left-section {
    font-size: 26px;
    text-align: center;
 }

 .accordion-box {
    width: 90%;
 }

.accordion-box span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    transition: 0.3s;
    width: 100%;
}

}[]