.container {
    display: flex;
    max-width: 1280px;
}

.banner-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px 0px 50px 0px;
    background-image: url(https://cdn.shopify.com/s/files/1/0707/8104/2880/files/Desktop_-_3.png?v=1764832413);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-section .slick-initialized .slick-slide {
    margin: 0 10px;
}

.banner-section-products .slick-dots li button {
    display: none;
}

.banner-section-products .gradient {
    background: transparent !important;
}

.banner-section .container {
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.banner-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.banner-text span {
    display: flex;
    width: 50%;
    gap: 12px;
    align-items: center;
}

.banner-text span h2 {
    font-size: 24px;
    font-weight: 600;
}

.banner-text span p {
    background-color: #aacc00;
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
}

.banner-text strong {
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
}

.banner-text strong a {
    color: #AACC00;
}

.banners {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.left-banner {
    display: flex;
    width: 50%;
}

.right-banner {
    display: flex;
    width: 50%;
}

@media (min-width: 768px) and (max-width: 1380px) {
    .banners {
        justify-content: space-evenly;
    }
    .left-banner img {
    width: 100%;
    }
    .right-banner img {
    width: 100%;
    }
    .banner-text span {
        padding-left: 15px;
    }
    .banner-text strong {
        padding-right: 15px;
    }
    .banner-text span h2 {
        font-size: 16px;
    }
    .banner-text span p {
    padding: 10px;
    font-size: 16px;
    }
    .banner-text strong a {
        font-size: clamp(12px, 1.8vw, 16px);
    }
    .banner-text .tab-link {
        font-size: 9px;
    }
    .banner-text .tab-link.active {
        font-size: 9px;
    }
}

@media (min-width: 325px) and (max-width: 440px) {
     .banners {
        justify-content: space-evenly;
    }
    .left-banner img {
    width: 100%;
    }
    .right-banner img {
    width: 100%;
    }
    .banner-text span {
        flex-direction: column;
        padding-left: 15px;
    }
    .banner-text strong {
        padding-right: 15px;
    }
    .banner-text span h2 {
        font-size: 15px;
        padding: 0px;
        margin: 0px;
    }
    .banner-text span p {
        padding: clamp(6px, 1vw, 10px) clamp(10px, 2vw, 14px);
        font-size: 10px;
        margin: 0px;
    }
    .banner-text strong a {
        font-size: clamp(12px, 1.8vw, 16px);
    }
}