.container {
    display: flex;
    max-width: 1280px;
}

.category-carousel .category-box {
  flex: none;
}
.slick-slide {
  display: flex;
  justify-content: center;
}

.category-section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.category-section .container {
    width: 100%;
    flex-direction: column;
    gap: 24px;
}

.category-top-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.category-heading {
    display: flex;
    width: 50%;
}

.category-heading p {
    font-size: clamp(16px, 2.5vw, 24px);
    font-weight: 600;
}

.category-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    gap: 12px;
}

.previous-btn {
    display: inline-flex;
    border: 1px solid #dedede;
    border-radius: 100%;
    padding: 15px 14px 15px 14px;
    transition: ease 0.3s;
    background-image: url(https://cdn.shopify.com/s/files/1/0707/8104/2880/files/black_left_arrow_367f6448-3304-42a5-bfd6-9313189ebbf7.png?v=1765267920);
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: center;
}

.previous-btn:hover {
    background-color: #aacc00;
    border: 1px solid #aacc00;
    color: white;
    cursor: pointer;
    background-image: url(https://cdn.shopify.com/s/files/1/0707/8104/2880/files/Vector-white-left.png?v=1764752101);
    background-repeat: no-repeat;
    background-position: center;
}

.next-btn {
    display: inline-flex;
    border: 1px solid #dedede;
    border-radius: 100%;
    padding: 15px 14px 15px 14px;
    transition: ease 0.3s;
    background-image: url(https://cdn.shopify.com/s/files/1/0707/8104/2880/files/right_black_arrow_0ce2a2bc-0357-47a0-8087-4d0d6f6850eb.png?v=1765267889);
    background-repeat: no-repeat;
    background-position: center;
    width: 42px;
    height: 42px;
}

.next-btn:hover {
    background-color: #aacc00;
    border: 1px solid #aacc00;
    color: white;
    cursor: pointer;
    background-image: url(https://cdn.shopify.com/s/files/1/0707/8104/2880/files/Vector.png?v=1764752101);
    background-repeat: no-repeat;
    background-position: center;
}

.category-carousel {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    overflow: hidden;
}

.category-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    border: #dedede 1px solid;
    border-radius: 10px;
    padding: 16px 5px 16px 5px;
    max-width: 156px;
    width: 100%;
}

.category-box a {
    text-decoration: none;
    color:rgb(67, 68, 70);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.category-box p {
    padding: 0px;
    margin: 0px;
}

@media (min-width: 1171px) and (max-width: 1300px) {
    .category-section .container {
        padding: 0px 20px;
    }
}

@media (min-width: 1101px) and (max-width: 1170px) {
    .category-section .container {
        padding: 0px 20px;
    }
    .category-box {
        max-width: 130px;
        width: 100%;
        padding: 10px 14px 10px 14px;
    }
    .category-box img {
        max-width: 70px;
        width: 100%;
    }
    .category-box p {
        font-size: 15px;
    }
    .category-heading p {
        font-size: 20px;
    }
}

@media (min-width: 951px) and (max-width: 1100px) {
    .category-carousel {
        gap: 15px;
    }
    .category-section .container {
        padding: 0px 20px;
    }
    .category-box {
        max-width: 120px;
        width: 100%;
        padding: 10px 14px 10px 14px;
    }
    .category-box img {
        max-width: 80px;
        width: 100%;
    }
    .category-box p {
        font-size: 15px;
    }
    .category-heading p {
        font-size: 20px;
    }
}

@media (min-width: 851px) and (max-width: 950px) {
    .category-carousel {
        gap: 15px;
    }
    .category-section .container {
        padding: 0px 20px;
    }
    .category-box {
        max-width: 110px;
        width: 100%;
        padding: 10px 14px 10px 14px;
    }
    .category-box img {
        max-width: 70px;
        width: 100%;
    }
    .category-box p {
        font-size: 15px;
    }
    .category-heading p {
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    .category-section .container {
        padding: 35px 20px;
    }
    .category-carousel {
        
        gap: 10px;
    }
    .category-box {
        max-width: 120px;
        width: 100%;
        padding: 10px 14px 10px 14px;
    }
    .category-box img {
        max-width: 80px;
        width: 100%;
    }
    .category-box p {
        font-size: 14px;
    }
    .category-heading p {
        font-size: 20px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .category-section .container {
        padding: 25px 15px;
    }
    .category-carousel {
        
        gap: 10px;
    }
}