.container {
    display: flex;
    max-width: 1280px;
}

.category-section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.category-section .container {
    width: 100%;
    flex-direction: column;
    gap: 24px;
}

.category-top-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.category-heading {
    display: flex;
    width: 50%;
}

.category-heading p {
    font-size: clamp(16px, 2.5vw, 24px);
    font-weight: 600;
}

.category-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    gap: 12px;
}

.previous-btn {
    display: flex;
    border: 1px solid #dedede;
    border-radius: 100%;
    padding: 15px 14px 15px 14px;
}

.next-btn {
    display: flex;
    border: 1px solid #AACC00;
    border-radius: 100%;
    background-color: #AACC00;
    padding: 15px 14px 15px 14px;
}

.category-carousel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    width: 100%;
}

.category-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    border: #dedede 1px solid;
    border-radius: 10px;
    padding: 16px 0px 16px 0px;
}

@media (min-width: 768px) and (max-width: 1380px) {
    .category-section .container {
        padding: 50px 20px;
    }
    .category-carousel {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 15px;
    }
    .category-box {
    padding: 10px 14px 10px 14px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .category-section .container {
        padding: 30px 15px;
    }
    .category-carousel {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;
    }
}