.container {
    display: flex;
    max-width: 1280px;
}

.category-section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.category-section .container {
    width: 100%;
    flex-direction: column;
    gap: 24px;
}

.category-top-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.category-heading {
    display: flex;
    width: 50%;
}

.category-heading p {
    font-size: clamp(16px, 2.5vw, 24px);
    font-weight: 600;
}

.category-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    gap: 12px;
}

.previous-btn {
    display: flex;
    border: 1px solid #dedede;
    border-radius: 100%;
    padding: 15px 14px 15px 14px;
}

.next-btn {
    display: flex;
    border: 1px solid #AACC00;
    border-radius: 100%;
    background-color: #AACC00;
    padding: 15px 14px 15px 14px;
}

.category-carousel {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    overflow: hidden;
}

.category-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    border: #dedede 1px solid;
    border-radius: 10px;
    padding: 16px 5px 16px 5px;
    max-width: 156px;
    width: 100%;
}

.category-box p {
    padding: 0px;
    margin: 0px;
}

@media (min-width: 1171px) and (max-width: 1300px) {
    .category-section .container {
        padding: 0px 20px;
    }
}

@media (min-width: 1101px) and (max-width: 1170px) {
    .category-section .container {
        padding: 0px 20px;
    }
    .category-box {
        max-width: 130px;
        width: 100%;
        padding: 10px 14px 10px 14px;
    }
    .category-box img {
        max-width: 70px;
        width: 100%;
    }
    .category-box p {
        font-size: 15px;
    }
    .category-heading p {
        font-size: 20px;
    }
}

@media (min-width: 951px) and (max-width: 1100px) {
    .category-carousel {
        gap: 15px;
    }
    .category-section .container {
        padding: 0px 20px;
    }
    .category-box {
        max-width: 120px;
        width: 100%;
        padding: 10px 14px 10px 14px;
    }
    .category-box img {
        max-width: 80px;
        width: 100%;
    }
    .category-box p {
        font-size: 15px;
    }
    .category-heading p {
        font-size: 20px;
    }
}

@media (min-width: 851px) and (max-width: 950px) {
    .category-carousel {
        gap: 15px;
    }
    .category-section .container {
        padding: 0px 20px;
    }
    .category-box {
        max-width: 110px;
        width: 100%;
        padding: 10px 14px 10px 14px;
    }
    .category-box img {
        max-width: 70px;
        width: 100%;
    }
    .category-box p {
        font-size: 15px;
    }
    .category-heading p {
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    .category-section .container {
        padding: 35px 20px;
    }
    .category-carousel {
        flex-wrap: wrap;
        gap: 10px;
    }
    .category-box {
        max-width: 120px;
        width: 100%;
        padding: 10px 14px 10px 14px;
    }
    .category-box img {
        max-width: 80px;
        width: 100%;
    }
    .category-box p {
        font-size: 14px;
    }
    .category-heading p {
        font-size: 20px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .category-section .container {
        padding: 25px 15px;
    }
    .category-carousel {
        flex-wrap: wrap;
        gap: 10px;
    }
}