.collection-hero__inner {
  display: flex;
  flex-direction: column;
}

.collection-hero--with-image .collection-hero__inner {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  .collection-hero.collection-hero--with-image {
    padding: calc(4rem + var(--page-width-margin)) 0 calc(4rem + var(--page-width-margin));
    overflow: hidden;
  }

  .collection-hero--with-image .collection-hero__inner {
    padding-bottom: 0;
  }
}

.collection-hero__text-wrapper {
  flex-basis: 100%;
}

@media screen and (min-width: 750px) {
  .collection-hero {
    padding: 0;
  }

  .collection-hero__inner {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
  }
}

.collection-hero__title {
  margin: 2.5rem 0;
}

.collection-hero__title + .collection-hero__description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .collection-hero__title + .collection-hero__description {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .collection-hero__description {
    max-width: 66.67%;
  }

  .collection-hero--with-image .collection-hero__description {
    max-width: 100%;
  }
}

.collection-hero--with-image .collection-hero__title {
  margin: 0;
}

.collection-hero--with-image .collection-hero__text-wrapper {
  padding: 5rem 0 4rem;
}

.collection-hero__image-container {
  border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

@media screen and (max-width: 749px) {
  .collection-hero__image-container {
    height: 20rem;
  }
}

@media screen and (min-width: 750px) {
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 4rem 2rem 4rem 0;
    flex-basis: 50%;
  }

  .collection-hero__image-container {
    align-self: stretch;
    flex: 1 0 50%;
    margin-left: 3rem;
    min-height: 20rem;
  }
}

/* Collection Banner
-----------------------------------------------*/
.collection-info-item.sub-collection {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fafafa;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 0px
}

.collection-sub-list .item {
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 0;
}

.collection-info-item.sub-collection .item-title span {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
	display: block;
	background-image: linear-gradient(transparent 97%, #000000 3%);
	background-repeat: repeat-x;
	background-position-y: -4px;
	display: inline-block;
}

.collection-sub-list .item a {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #232323;
	border: 1px solid #232323;
	text-align: center;
}

.collection-info-item .button-show-more .button {
	font-size: 12px;
}

.collection-info-item.sub-collection.has-image .item-title {
	margin-bottom: 15px;
}

.image-adapt img{
  display: block;
  width: 100%;
}

.collection-info {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 70%;
  margin: 0 auto;
}

.collection-info h1{
  margin: 0;
}

@media (min-width: 750px) {
  .collection-info {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 990px) {
  .collection-info {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
  }
}

@media (min-width: 768px) {
  .image-mobile{
    display: none;
  }
}

@media (min-width: 1025px) {
	.collection-sub-list .item a:hover {
		background: #ffffff !important;
		border-color: #232323 !important;
		color: #232323 !important;
	}

	.collection-info-item.sub-collection .item-title {
		padding-top: 10px;
	}
}

@media (max-width: 767px) {
	[data-sub-collection-show-more] {
		margin-left: -15px;
		margin-right: -15px;
	}

	.collection-sub-list .item {
		padding-left: 10px;
		padding-right: 10px;
	}

  .image-desktop{
    display: none;
  }
}