.contactus-inner-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.contactus-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 50px;
}

.contactus-banner {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    margin-top: 50px;
}

.contactus-banner h2 {
    font-size: 34px;
    margin: 0px 0px 5px;
    font-weight: bold;
}

.contactus-banner h1 {
    font-size: 80px;
    font-weight: bold;
    color: #AACC00;
    padding: 0;
    margin: 0;
}

.contactus-banner hr {
    margin: 20px 0px;
    width: 340px;
}

.contactus-banner p {
    font-size: 20px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.contactus-banner p:last-child {
    font-size: 18px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.contactus-banner p:last-child a {
    font-size: 18px;
    color: #AACC00;
    text-decoration: none;
}

.contact-banner-btns {
    display: flex;
    flex-direction: column;
}

.contact-banner-btns h3 {
    font-size: 32px;
    margin: 20px 0px;
    font-weight: bold;
}

.contact-banner-btns div {
    display: grid;
    grid-row: 3;
    grid-column: 1;
    row-gap: 10px;
}

.p-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    width: 100%;
    max-width: 260px;
    height: 60.2px;
    border-radius: 5px;
    border: 1px solid #cccccc; 
    transition: 0.3s; 
}

.p-btn div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.p-btn .contactus-btn-icons {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.p-btn p {
    font-size: 14px;
    margin: 0;
}

/* .p-btn:hover {
    color: white;
    background-color: #AACC00;
}

.p-btn:hover .contactus-btn-icons {
    border: white 1px solid;
} */



.contactus-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.contact-bg {
    display: flex;
    width: 100%;
    height: 300px;
    position: absolute;
    background-color: #AACC00;
    border-radius: 5px;
    bottom: 0;
    z-index: 1;
}

.contactus-form-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 528px;
    width: 100%;
    margin: 0px 66px 66px;
    padding: 30px 30px 30px 30px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px #00000020;
    background-color: white;
    gap: 16px;
    z-index: 10;
}

.contactus-form-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contactus-form-wrapper label {
    font-size: 13px;
    font-weight: 400;
}

.input-info {
    width: 95%;
    max-width: 528px;
    padding: 10px;
    border: #cccccc 1px solid;
    border-radius: 5px;
}

.input-text {
    width: 95%;
    max-width: 528px;
    height: 158.4px;
    padding: 10px;
    border: #cccccc 1px solid;
    border-radius: 5px;
}

.s-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 178px;
    height: 38px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.s-btn:hover {
    background-color: #AACC00;
}

.required {
    color: red;
}




.button-email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
}

.button-email .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.button-email span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 399.2px;
    height: 80px;
    border: 1px solid #cccccc;
    font-size: 30px;
    font-weight: bold;
    color: #AACC00;
}

.button-email strong {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 399.2px;
    height: 80px;
    border: 1px solid #cccccc;
    color: #AACC00;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
}

.button-email strong::before {
    content: '';
    width: 399.2px;
    height: 80px;
    background-color: #AACC00;
    position: absolute;
    bottom: -100px;
    transition: 0.5s;
    z-index: -1;
}

.button-email .container:hover strong::before {
    bottom: 0;
}

.button-email .container:hover strong {
    color: white;
}



@media (min-width: 1024px) and (max-width: 1248px) {
.contactus-inner-wrapper {
    display: flex;
    max-width: 1248px;
    width: 100%;
}

.contactus-banner h2 {
    font-size: 26px;
    margin: 0px 0px 5px;
    font-weight: bold;
}

.contactus-banner h1 {
    font-size: 50px;
    font-weight: bold;
    color: #AACC00;
}

.contactus-banner p {
    font-size: 16px;
    line-height: 1.5;
    width: 80%;
}

.contact-banner-btns h3 {
    font-size: 26px;
    margin: 20px 0px;
    font-weight: bold;
    width: 50%;
}

}




@media (min-width: 600px) and (max-width: 1023px) {
    .p-btn {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        justify-content: flex-start;
}


.contactus-inner-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
}

.page-width .contactus-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contactus-banner {
    justify-content: center;
    align-items: center;
}

.contactus-banner div {
    align-items: center;
    justify-content: center;
}

.contact-bg {
    display: flex;
    width: 100%;
    height: 300px;
    position: absolute;
    background-color: #AACC00;
    border-radius: 5px;
    bottom: 0;
    z-index: 1;
}

.contactus-banner h2 {
    font-size: 20px;
    padding-left: 5px;
}

.contactus-banner h1 {
    font-size: 50px;
}

.contactus-banner hr {
    margin: 20px 0px;
    width: 340px;
}

.contactus-banner p {
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
}

.contactus-form {
    margin-top: 50px;
    width: 100%;
}

.contactus-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 584px;
    margin: 0px 73px 73px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px #00000020;
    background-color: white;
    gap: 16px;
    text-align: start;
    z-index: 10;
}

.button-email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-email .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 730px;
}

.button-email span {
    width: 45.5%;
    font-size: 15px;
}

.button-email strong {
    width: 45.5%;
    font-size: 15px;
}
}




@media (max-width: 599px) {
.contactus-inner-wrapper {
    display: flex;
    width: 100%;
    background-color: red;
}

.contactus-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contactus-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    align-items: center;
}

.contactus-banner h2 {
    font-size: 20px;
    padding-left: 5px;
}

.contactus-banner h1 {
    font-size: 50px;
}

.contactus-banner hr {
    margin: 20px 0px;
    width: 340px;
}

.contactus-banner p {
    font-size: 16px;
    line-height: 1.5;
    width: 90%;
}

.contact-banner-btns {
    display: flex;
    flex-direction: column;
}

.contact-banner-btns h3 {
    font-size: 20px;
    margin: 20px 0px;
    font-weight: bold;
}

.contact-banner-btns div {
    display: grid;
    grid-row: 3;
    grid-column: 1;
    row-gap: 10px;
}

.p-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    width: 365.04px;
    height: 112.2px;
    border-radius: 5px;
    border: 1px solid #cccccc; 
    transition: 0.3s; 
}

.p-btn div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}



.contactus-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 30px;
}

.contact-bg {
    display: flex;
    width: 99%;
    height: 300px;
    position: absolute;
    background-color: #AACC00;
    border-radius: 5px;
    bottom: -20px;
    z-index: 0;
}

.contactus-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 365.04px;
    margin: 0px 20.2875px 20.275px 20.275px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px #00000020;
    background-color: white;
    gap: 16px;
    z-index: 10;
}

.contactus-form-wrapper label {
    font-size: 13px;
    font-weight: 400;
}

.input-info {
    width: 95%;
    padding: 10px;
    border: #cccccc 1px solid;
    border-radius: 5px;
}

.input-text {
    width: 95%;
    height: 158.4px;
    border: #cccccc 1px solid;
    border-radius: 5px;
}

.s-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 178px;
    height: 38px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.s-btn:hover {
    background-color: #AACC00;
}

.required {
    color: red;
}




.button-email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    text-decoration: none;
}

.button-email .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-email span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 80px;
    border: 1px solid #cccccc;
    font-size: 20px;
    font-weight: bold;
    color: #AACC00;
}

.button-email strong {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 80px;
    border: 1px solid #cccccc;
    color: #AACC00;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
}

.button-email strong::before {
    content: '';
    width: 399.2px;
    height: 80px;
    background-color: #AACC00;
    position: absolute;
    bottom: -100px;
    transition: 0.5s;
    z-index: -1;
}
}