.container {
    display: flex;
    max-width: 1280px;
}

.discount-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 0px 0px 0px;
}

.discount-section-products .slick-dots li button {
    display: none;
}

.discount-section .container {
    width: 100%;
}

.discount-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.discount-text span {
    display: flex;
    width: 30%;
    gap: 12px;
    align-items: center;
}

.discount-text span h2 {
    font-size: 24px;
}

.discount-text strong {
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
}

.discount-text strong a {
    color: #AACC00;
}

/* same text responsiveness as in banners section */

@media (min-width: 320px) and (max-width: 1380px) {
    .discount-section {
        padding: 30px 0px 0px 0px;
    }
    .discount-text span {
        padding-left: 15px;
    }
    .discount-text strong {
        padding-right: 15px;
    }
    .discount-text span h2 {
        font-size: clamp(13px, 2.5vw, 24px);
    }
    .discount-text span p {
    font-size: clamp(12px, 1.8vw, 16px);
    }
    .discount-text strong a {
    font-size: clamp(12px, 1.8vw, 16px);
    }
}