.container {
    display: flex;
    max-width: 1280px;
}

* {
  margin: 0px;
  padding: 0px;
}

footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url(images/Desktop\ -\ 8.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

footer .container {
    max-width: 1320px;
    width: 100%;
    flex-direction: column;
    padding: 0px 20px;
}

.footer-top {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #1D2825;
  align-items: center;
  gap: 31px;
}

.footer-top div:first-child {
    display: flex;
    max-width: 500px;
    width: 100%;
    align-items: center;
    gap: 31px;
    border-right: 1px solid #1D2825;
    padding: 60px 0px;
}

.footer-top div:first-child img {
    max-width: 176px;
    width: 100%;
}

.footer-top div:first-child p {
    font-size: 14px;
    line-height: 1.5;
    width: 50%;
    color: white;
}

.footer-top div:nth-child(2),
.footer-top div:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: white;
}

.footer-top div:nth-child(2) {
    border-right: 1px solid #1D2825;
    padding-right: 20px;
}

.arrow-submit {
  border: none;
}

@media (min-width: 325px) and (max-width: 850px) {
     .footer-top {
    display: grid;
    grid-template-columns: 1fr; /* single column */
    gap: 20px;
    padding: 30px 0px;
  }

  .footer-top > div {
    flex-direction: row;
    border-right: none;
    padding: 0;
  }

  .footer-top div:first-child {
    border: none;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding: 0px;
  }

  .footer-top div:nth-child(2) {
    border: none;
  }
}


.footer-middle {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  border-bottom: #1D2825 1px solid;
  padding: 38px 0px;
}

.footer-middle > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-middle h2 {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.footer-middle div ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-middle a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 1.5;
}

.footer-middle a.green-links {
    color: #AACC00;
    text-decoration: underline;
}

.footer-middle div:nth-child(4) {
  display: flex;
  flex-direction: column;
}

.footer-middle div:nth-child(4) p {
    font-size: 14px;
    line-height: 1.5;
    color: white;
}

.input-form-wrapper {
  display: flex;
  width: 100%;
}

.input-submit-message {
  display: flex;
  width: 100%;
}

.footer-middle input {
    border-radius: 50px;
    padding: 11px 15px 11px 15px;
    outline: none;
    border: none;
}

.searchbar-input {
    display: flex;
    width: 100%;
    position: relative;
}

.searchbar-input input {
    width: 100%;
}

.input-arrow {
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 6px;
    right: 5px;
}



.footer-bottom {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 20px;
  padding: 30px 0px;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 16%));
  gap: 20px;
}

.footer-bottom > div:nth-child(2) {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.5;
    color: white;
}

@media (min-width: 325px) and (max-width: 600px) {
    .footer-bottom {
    grid-template-columns: 1fr; /* single column */
    gap: 15px; /* vertical spacing between sections */
    text-align: center; /* optional: center content */
  }

  .social-icons {
    justify-content: center; /* center icons in the grid */
  }

  .footer-bottom > div:nth-child(2) {
    justify-content: center; /* center the copyright text */
  }
}