.contactus-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}

.contactus-info .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.contactus-info p {
    font-size: 34px;
    font-weight: bold;
    width: 560px;
    text-align: center;
}

.email-btn {
    display: flex;
    align-items: center;
    width: 610.19px;
    border: 1px solid #c5c5c5;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    overflow: hidden;
}

.email-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 20px 30px;
    border-right: 1px solid #c5c5c5;
    z-index: 1;
    position: relative;
    transition: 0.3s ease;
}

.email-btn span::before {
    content: '';
    width: 0%;
    height: 100%;
    background-color: #b497ed;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.3s ease;
    z-index: -1;
}

.email-btn span:hover {
    color: white;
}

.email-btn span:hover::before {
    width: 100%;
}




.email-btn strong {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 20px 30px;
    z-index: 1;
    position: relative;
    transition: 0.3s ease;
}

.email-btn strong::before {
    content: '';
    width: 0%;
    height: 100%;
    background-color: #b497ed;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease;
    z-index: -1;
}

.email-btn strong:hover {
    color: white;
}

.email-btn strong:hover::before {
    width: 100%;
}