.tabs-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #aacc00;
    border-radius: 50px;
    color: white;
}

.tab-link{
    padding: 6px 15px;
    display: block;
    transition: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 3px;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
}

.tab-link.active{
    background:rgb(131, 156, 7);
    font-weight: 700;
    border-radius: 50px;
}

.tab-space{
    margin: 0 10px;
}

.tab-panel { display: none; }
.tab-panel.active { display: block; }