.container {
    display: flex;
    max-width: 1280px;
}

.partner-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px 0px;
    background-image: url(images/Desktop\ -\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00563d;
}

.partner-section .container {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 30px;
}

.partner-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.partner-logos {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.partner-logos img {
    max-width: 138px;
    width: 100%;
}

@media (min-width: 610px) and (max-width: 1380px) {
    .partner-section {
        padding: 50px 0px;
    }
    .partner-logos {
        gap: 15px;
    }
    .partner-logos img {
        max-width: 138px;
        min-width: 70px;
        width: auto;
    }
    .partner-heading {
        font-size: clamp(16px, 2.5vw, 24px);
    }
    .partner-section .container {
        padding: 0px 20px;
    }
}

@media (min-width: 325px) and (max-width: 609px) {
    .partner-section {
        padding: 30px 0px;
    }
    .partner-logos img {
        width: 100%;
        height: auto;
        max-width: 600px;
        min-width: 400px;
    }
    .partner-heading {
        font-size: clamp(16px, 2.5vw, 24px);
    }
    .partner-section .container {
        padding: 0px 15px;
    }
}