.certificate-wrap{
    display: flex;
    gap: 20px;
    align-items: center;
}

.certificate-content,
.certificate-slider-wrap{
    width: 100%;
}

.certificate-content{
    max-width: 35%;
}


.certificate-content-inner{
    background: #946fd6;
    color: #fff;
    padding: 22px 14px;
    position: relative;
    margin: 0px 20px;
    border-radius: 12px;
    text-align: center;
}

.certificate-content-inner p{
    margin: 0;
    font-size: 2.4rem;
}

.certificate-content-inner p strong{
    font-size: 3.4rem;
}

.certificate-content-inner::before,
.certificate-content-inner::after{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
}

.certificate-content-inner::before{
    left: 0;
    bottom: 0;
    width: 43px;
    height: 43px;
}

.certificate-content-inner::after{
    right: 0;
    top: 0;
    width: 49px;
    height: 49px;
}

.certificate-slider-wrap{
    max-width: 65%;
}

.brandsCarousel{
    position: relative;
}

.brandsCarousel::before,
.brandsCarousel::after {
    content: "";
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    z-index: 2;
}

.brandsCarousel::before{
    left: 0;
}

.brandsCarousel::after{
    right: 0;
}

.certificate-brandLogo{
    text-align: center;
    font-size: 1.2rem;
    width: 100px;
}

.certificate-brandLogo img{
    max-width: 90px;
    margin: 0 auto;
}